html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  height: 100%;
  font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft YaHei", "微软雅黑", sans-serif;
}
.contenter {
  width: 100%;
  min-width: 814px;
  height: 100%;
  position: relative;
}
.contenter header {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #dddddd;
  position: relative;
}
.contenter header .logor {
  width: 162px;
  height: 64px;
  float: left;
  cursor: pointer;
}
.contenter header .logor img {
  padding-left: 20px;
  float: left;
}
.contenter header .logor span {
  display: block;
  height: 64px;
  line-height: 64px;
  font-size: 24px;
  color: #353535;
  padding-left: 6px;
  float: left;
}
.contenter header .lister {
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  padding-right: 122px;
  padding-left: 162px;
}
.contenter header .lister ul {
  width: 410px;
  height: 64px;
  list-style: none;
  float: right;
}
.contenter header .lister ul li {
  width: 62px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  position: relative;
  top: 18px;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}
.contenter header .lister ul li span {
  font-size: 14px;
  cursor: pointer;
}
.contenter header .lister ul li span:hover {
  color: #61b0ff;
}
.contenter header .buttoner {
  width: 102px;
  height: 64px;
  float: left;
  position: absolute;
  top: 0;
  right: 20px;
}
.contenter header .buttoner a {
  display: block;
  width: 102px;
  height: 34px;
  box-sizing: border-box;
  line-height: 34px;
  text-align: center;
  font-size: 14px;
  color: white;
  text-decoration: none;
  position: relative;
  top: 15px;
  background-color: #61b0ff;
  border: 1px solid #61b0ff;
  border-radius: 2em;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.contenter header .buttoner a:hover {
  color: #61b0ff;
  background-color: white;
  border: 1px solid #61b0ff;
}
.contenter .mainer {
  margin-top: 250px;
  height: 370px;
  overflow: hidden;
}
.contenter main {
  width: 100%;
  height: auto;
  padding-right: 60px;
  padding-left: 60px;
  box-sizing: border-box;
  height: 2220px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.contenter main div {
  width: 572px;
  height: 370px;
  margin: 0 auto;
}
.contenter main div h1 {
  width: 100%;
  height: 48px;
  text-align: center;
  font-size: 48px;
  color: #323a45;
  margin-bottom: 32px;
  font-weight: 200;
}
.contenter main div p {
  width: 100%;
  text-align: center;
}
.contenter main div p a {
  text-decoration: none;
  font-size: 14px;
  color: #323A45;
  opacity: 0.7;
}
.contenter main div p a:after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../img/play.png");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  position: relative;
  top: 2px;
  background-position-x: 3px;
  padding-left: 3px;
}
.contenter main div ul {
  width: 435px;
  height: 72px;
  margin: 0 auto;
  margin-top: 80px;
}
.contenter main div ul li {
  width: 145px;
  height: 46px;
  text-align: center;
  float: left;
  position: relative;
  top: 13px;
  cursor: pointer;
}
.contenter main div ul li p {
  font-size: 14px;
  color: #323a45;
}
.contenter main div ul .liCenter {
  box-sizing: border-box;
  border-right: 1px dashed #bbbbbb;
  border-left: 1px dashed #bbbbbb;
}
.contenter main .summaryer {
  width: 100%;
  height: 370px;
}
.contenter main .summaryer .divFather {
  width: 100%;
  max-width: 940px;
  height: 284px;
  position: relative;
  top: 43px;
}
.contenter main .summaryer .divFather div {
  width: 49%;
  height: 284px;
  margin-top: 0;
  float: left;
}
.contenter main .summaryer .divFather .divLefter {
  background-image: url("../img/content/hotel.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 7px;
  overflow: hidden;
  margin-right: 1%;
}
.contenter main .summaryer .divFather .divRighter {
  margin-left: 1%;
}
.contenter main .summaryer .divFather .divRighter h2 {
  font-size: 24px;
  color: #323A45;
  margin-top: 8px;
  margin-bottom: 8px;
}
.contenter main .summaryer .divFather .divRighter article {
  line-height: 28px;
  font-size: 14px;
  color: #323A45;
}
.contenter main .summaryer .divFather .serverPic {
  background-image: url("../img/content/cook.jpg");
}
.contenter main .summaryer .divFather .changePic {
  background-image: url("../img/content/noodle.jpg");
}
.contenter main .summaryer .divFather .changePic .picAll {
  width: 400%;
  height: 100%;
  float: left;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-animation: changePic 20s infinite alternate;
  animation: changePic 20s infinite alternate;
}
.contenter main .summaryer .divFather .changePic .picAll div {
  width: 25%;
  height: 100%;
}
.contenter main .summaryer .divFather .changePic .picAll div span {
  font-size: 25px;
  color: #323a45;
  padding-right: 25px;
  padding-left: 25px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
}
.contenter main .summaryer .divFather .changePic .picAll .picOne {
  background-image: url("../img/content/noodle.jpg");
}
.contenter main .summaryer .divFather .changePic .picAll .picTwo {
  background-image: url("../img/content/cold.jpg");
}
.contenter main .summaryer .divFather .changePic .picAll .picThree {
  background-image: url("../img/content/soup.jpg");
}
.contenter main .summaryer .divFather .changePic .picAll .picFour {
  background-image: url("../img/content/noodler.jpg");
}
.contenter main .summaryer .divFather .centerPic {
  margin-left: 235px;
}
.contenter main .summaryer .divFather .centerPic .centerOne {
  background-image: url("../img/content/scenery/1.jpg");
}
.contenter main .summaryer .divFather .centerPic .centerTwo {
  background-image: url("../img/content/scenery/2.jpg");
}
.contenter main .summaryer .divFather .centerPic .centerThree {
  background-image: url("../img/content/scenery/3.jpg");
}
.contenter main .summaryer .divFather .centerPic .centerFour {
  background-image: url("../img/content/scenery/4.jpg");
}
@keyframes changePic {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-25%, 0);
    -ms-transform: translate(-25%, 0);
    transform: translate(-25%, 0);
  }
  50% {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  75% {
    -webkit-transform: translate(-75%, 0);
    -ms-transform: translate(-75%, 0);
    transform: translate(-75%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes changePic {
  0% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-25%, 0);
    -ms-transform: translate(-25%, 0);
    transform: translate(-25%, 0);
  }
  50% {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  75% {
    -webkit-transform: translate(-75%, 0);
    -ms-transform: translate(-75%, 0);
    transform: translate(-75%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.contenter main .summaryer .ender {
  width: 100%;
  max-width: 940px;
  height: 350px;
  position: relative;
  top: 10px;
}
.contenter main .summaryer .ender h2 {
  font-size: 24px;
  color: #323A45;
  margin-top: 8px;
  margin-bottom: 8px;
}
.contenter main .summaryer .ender article {
  font-size: 18px;
  color: #4f565f;
}
.contenter main .summaryer .ender article p {
  line-height: 36px;
  text-align: left;
  list-style-type: none;
  background-image: url("../img/content/star.png");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 4px 12px;
  padding-left: 22px;
  padding-right: 8px;
  box-sizing: border-box;
}
.contenter main .summaryer .ender article span {
  color: #323A45;
}
.contenter footer {
  width: 100%;
  min-width: 572px;
  height: auto;
  text-align: center;
  position: absolute;
  bottom: 42px;
}
.contenter footer img {
  cursor: pointer;
}
.contenter .asider {
  width: 0;
  height: 208px;
  border: 1px dotted #d8d8d8;
  position: absolute;
  top: 50%;
  left: 32px;
  margin-top: -90px;
}
.contenter .asider ul {
  width: 14px;
  height: 168px;
  position: absolute;
  top: 20px;
  left: -7px;
}
.contenter .asider ul li {
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #d8d8d8;
  border: 1px solid #d8d8d8;
  margin-bottom: 14px;
  position: relative;
  top: 7px;
  cursor: pointer;
}
.contenter .asider ul li:hover {
  background-color: white;
  border: 1px solid #323a45;
  background-image: url("../img/point.png");
  background-size: 28px;
  background-position: center center;
}
.contenter .asider ul .liActive {
  background-color: white;
  border: 1px solid #323a45;
  background-image: url("../img/point.png");
  background-size: 28px;
  background-position: center center;
}
